#contactPage {
    min-height: calc(100vh -5rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;

}

.contactPageTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 3rem;
    color: #fcc602;
    border-bottom: 6px solid #663399;
}

.clientDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.clientImgs {
    margin: 1rem 0;
    display:flex;
    flex-wrap: wrap;
}
.clientImg{
    object-fit: cover;
    width:20%;
    min-width: 9rem;
    margin:auto;
    padding: 0.25rem;
}
#clients {
    margin: 2rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;

}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: #fcc602;
    border: none;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
}

.links{
    display: flex;
    flex-wrap: wrap;

}

.link {
    object-fit: cover;
    height: 2.5rem;
    width: auto;
    margin: 0 0.75rem;
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  animation: spin 1s linear infinite;
  margin-left: 10px; /* Adjust margin to align with the button text */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}