#works{
    margin: 0 auto;
    min-height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
    color: #fcc602;
    border-bottom: 6px solid #663399;


}
.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 65rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.workImgContainer {
    position: relative;
    margin: 0.5rem;
}

.workImg {
    object-fit: cover;
    height: 8rem;
    width: auto;
}

.workImgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.workImgContainer:hover .workImgOverlay {
    opacity: 1;
}

.overlayText {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.worksBtn{
    background: #fcc602;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}